/*-- scss:defaults --*/

/* Brand colours */
$purple-dark: #291957;
$purple-main: #8356a3;
$purple-light: #9C4DCC;
$purple-soft: #a97fb9;
$purple-bkg: #eee1ff;


/*-- scss:rules --*/

/* Headings */
h1, h2, h3, h4 {
  color: $purple-main;
}

/* Buttons */
.btn-primary {
  background-color: $purple-main;
  border-color: $purple-main;
}

.btn-primary:hover {
  background-color: $purple-light;
  border-color: $purple-light;
}

.btn-outline-secondary {
  color: $purple-main;
  border-color: $purple-main;
}

.btn-outline-secondary:hover {
  background-color: $purple-main;
  color: white;
}
.download-btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: $purple-light; /* purple */
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
}

.download-btn:hover {
  background-color: $purple-light;
  color: white;
}


/* Callout boxes – fully override default colours */
.callout-important {
  border-left: 6px solid $purple-main !important;
  background-color: $purple-bkg !important;
}

.callout-important .callout-title {
  color: $purple-main !important;
}

.callout-important::before {
  display: none;
}

.callout-note {
  border-left: 6px solid $purple-light !important;
  background-color: #faf5fc !important;
}

.callout-note::before {
  display: none;
}

/* Custom purple callout (no Quarto defaults) */
.callout-purple {
  border-left: 6px solid $purple-main;
  background-color: $purple-bkg;
  padding: 1.25rem;
  border-radius: 6px;
}

.callout-purple h1,
.callout-purple h2,
.callout-purple h3,
.callout-purple h4 {
  color: $purple-main;
}

.callout-purple {
  box-shadow: 0 4px 12px rgba(106, 27, 154, 0.15);
}

/* Links */
a {
  color: $purple-main;
}

a:hover {
  color: $purple-light;
}


/* Programme schedule blocks */

.programme-block {
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  border-left: 6px solid $purple-main;
  background-color: #faf5fc;
  border-radius: 8px;
}

.programme-block h3 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  color: $purple-bkg;
}

.programme-block .time {
  font-weight: 600;
  color: #4a2a6a;
}

/* Session types */
.programme-block.keynote {
  color: $purple-dark;
  background-color: $purple-soft;
}

.programme-block.talks {
  color: $purple-dark;
  color: $purple-dark;
  border-left-color: $purple-light;
}


.programme-block.break {
  color: $purple-dark !important;
  background-color: $purple-bkg;
  border-left-color: $purple-dark;
}

